* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 15px;


}

body {
    margin: 20px;
    margin-top: 20px;
}



/* -------------Navbar Styling--------------------------- */

nav {
    display: flex;
    width: 100%;
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-between;

}

li {
    list-style: none;
    

}
 ul {
    display: flex;
    width:200px;
 }

 .navLinks ul {
    display: flex;
    justify-content: space-between;
 }

 /* ----------------Header Syling----------------- */

 header {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    height: 550px;align-items: center;
 }

 .headerText {
    margin: 70px;
 }

 .headerImage {
    margin: 300px;
 }

 /*-------------------- aboutMe Styling *------------*/

 .aboutMe {
    display:flex;
    justify-content: space-between;
    background-color: burlywood;
    height: 200px;
    align-items: center;
 }

 .aboutMeText {
    margin: 70px;
 }

 .aboutMeSkills {
    margin: 300px;

 }

 .aboutMeSkills ul {
    display: flex;
    flex-direction: column;
 }

 /* --------------------Projects Styling------------- */

 .Projects {
    display: flex;
    justify-content: center;
    
 }

 .projectBoxes {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    align-items: flex-end;
    flex-direction: row;
 }
 
 .box1 {
    height: 100px;
    width: 90%;
    background-color: darkgray;
    margin: 30px;
    align-self: center;
    border-style: dashed;
    height: 300px;
 }

 .box2 {
    align-self: flex-end;
 }

 .box2,
 .box3,
 .box4 {
    width: 350px;
    height: 450px;
    flex-wrap: wrap;
    border-style: dashed;
    margin: 10px;
    display: flex;
   

 }

 
    
